APP_NAME=dating-server
APP_VERSION=1

LOG_LEVEL="DEBUG"
ENABLE_BODY_DUMP=false

HTTP_PORT=8032

PG_URL=postgres://postgres:mysecretpassword@localhost:5432
PG_POOL_MAX=20
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=mysecretpassword
PG_DB=postgres
PG_SSL=disable

RDB_ADDR=localhost:6379
RDB_PASSWORD=
RDB_DB=0

S3_ACCESS_KEY=ruOSehNOXuC3XKWVIiyF
S3_SECRET_KEY=LXGDA3ws8llsqUB1RasLF7KspzoZHM1jqDAj5nxm
S3_BUCKET_NAME=dating
S3_SECURE=false
S3_ENDPOINT=localhost:9000
S3_FILES_BASE_URL=http://localhost:9000/dating/

TOKEN_TTL=1h
AUTH_CODE_TTL=5m

SMTP_ENABLE=false

FIREBASE_ENABLE=false
FIREBASE_JSON_CREDENTIALS_PATH=

YOUKASSA_API_URL=https://api.yookassa.ru/v3/
YOUKASSA_SHOP_ID=359402
YOUKASSA_SECRET_KEY=
YOUKASSA_REDIRECT_URL=https://dating-love.ru/
YOUKASSA_CALLBACK_URL=https://dev.dating.eagledev.ru/api/v1/payments/callback

VK_API_URL=https://id.vk.com